@use "sass:math";
@import "~bootstrap/scss/functions";

$font-family-base: 'Lato', sans-serif;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$enable-smooth-scroll: true;

// Colors
$blue:    #4870c0;
$red:     #e63946;
$green:   #3fb983;
$orange:  #ff8007;
$cyan:    #05badd;
$light:   #e7eaee;
$dark: 	  #1F2B35;

$primary:       $blue;
$secondary:     $green;

$enable-rounded:            false;
$enable-shadows:            true;

$spacer: 1.4rem;

//Links
$link-hover-decoration:     none;

// Fonts
$font-size-base: 0.9rem;
$body-color:     #777;

// Headings
$headings-line-height:   1.5;
$headings-font-weight:   700;
$headings-color:         #333;
$headings-font-weight:   400;
$headings-margin-bottom: math.div($spacer, 1.3);

$lead-font-size:         1.8rem;
$lead-font-weight:       400;

$line-height-base:            1.7 !default;

$h1-font-size: 5rem;
$h2-font-size: 3rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

// Navbar
$navbar-nav-link-padding-x: 1rem;

// Carousel
$carousel-indicator-height: 5px;

@import "~bootstrap/scss/variables";
